@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, 'Microsoft YaHei', 微软雅黑, 宋体, 'sans-serif normal'; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #040000; }

.container {
  position: relative;
  background-color: #040000; }

.containerbg {
  position: relative;
  background-color: #040000;
  min-height: 100%;
  background: url(../images/background.jpg) no-repeat top left/cover; }

.container > img {
  width: 100%;
  display: block; }

input {
  font-size: 14px; }

input:focus {
  outline: none; }

.Grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60px;
  left: 50%;
  width: 1080px;
  margin-left: -540px;
  padding-bottom: 50px; }

.Grid-cell {
  position: relative; }

.Grid-cell:nth-child(2) {
  width: 580px; }

.Grid .left {
  height: 270px;
  width: 500px;
  background: url(../images/opacityBg.png) repeat; }

.Grid .hint {
  position: absolute;
  bottom: -36px;
  left: 45px;
  width: 80%; }

.leftNav {
  background-color: #796a56;
  width: 100px;
  height: 100%;
  float: right;
  padding: 25px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-list a {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 12px;
  text-decoration: none;
  line-height: 165%; }

.nav-list a span {
  display: block; }

.nav-list a span.en {
  display: block;
  font-size: 15px; }

/*.leftNav a span{
    display: block;
}*/
.leftContent {
  height: 100%;
  margin-right: 100px; }

.leftContent p {
  height: 78%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.leftContent p a {
  display: block;
  width: 80%;
  text-align: center; }

.leftContent .logoInner {
  width: 90%; }

.leftContent .input-search {
  background-color: #fff;
  margin: 0 3em 0 1em;
  height: 35px;
  line-height: 35px;
  position: relative; }

.leftContent .input-search .searchInput {
  width: 100%;
  height: 100%;
  border: 0px solid #fff;
  padding: 0 58px 0 10px; }

.leftContent .search-icon {
  position: absolute;
  right: 0;
  top: 3px;
  padding: 6px 20px 6px 20px;
  border-left: 1px solid #939190; }

.leftContent .search-icon:hover {
  cursor: pointer; }

.Grid .Grid-cell .share {
  position: absolute;
  top: 240px;
  right: -80px;
  height: 80px;
  line-height: 40px; }

.Grid .Grid-cell .share a {
  display: block; }

.Grid .Grid-cell .header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 270px;
  margin-bottom: 50px; }

.Grid .Grid-cell .header .aboutus-detail {
  text-align: center; }

.Grid .Grid-cell .header .icon-detail img {
  width: 98%; }

.Grid .Grid-cell .header .header-icon {
  text-align: center; }

.Grid .Grid-cell .director_content > img {
  width: 100%; }

.width1080 {
  width: 1080px; }

#index {
  position: relative;
  width: 100%;
  height: 100%; }

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content .logo {
  text-align: center;
  width: 1080px;
  margin: 70px auto; }

.content .bar {
  position: absolute;
  top: 50%;
  margin-top: -140px;
  width: 100%;
  height: 280px;
  background: rgba(255, 255, 255, 0.5); }

.content .bar .bar-tab {
  width: 1080px;
  height: 100%;
  margin: 0 auto; }

.content .bar .bar-tab .tab-item {
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 100%;
  float: left;
  position: relative; }

.content .bar .bar-tab .tab-item .menu > a {
  color: #fff;
  font-size: 10px;
  display: block;
  margin-bottom: 12px;
  text-decoration: none; }

.content .bar .bar-tab .tab-item .menu > a span.en {
  font-size: 12px; }

.content .bar .bar-tab .tab-item .menu > a:hover {
  text-decoration: underline; }

.content .bar .bar-tab .tab-item .menu {
  display: none;
  position: absolute;
  padding: 50px 0;
  text-align: center;
  left: 50%;
  top: 60%;
  margin-left: -137.5px;
  bottom: -200px;
  width: 275px;
  height: 275px;
  background: url(../images/menubg.png) no-repeat center center/cover; }

.content .bar .bar-tab .tab-item:hover .menu {
  display: block; }

.content .bar .bar-tab .tab-item > a {
  padding: 15px 0;
  border: 1px solid transparent; }

.content .bar .bar-tab .tab-item:hover > a {
  border-top: 1px solid #fff; }

.content .bar .share {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 100px;
  text-align: center;
  height: 80px;
  line-height: 40px;
  margin-top: -40px; }

.autoslide {
  height: 100%; }

.autoslide div.pic {
  background: no-repeat fixed center center/cover;
  width: 100%;
  height: 100%; }

.slick-list, .slick-track {
  height: 100%; }

#index .slick-slider {
  margin-bottom: 0; }

.grid-item {
  color: #fff;
  padding: 0 10px 10px 0;
  font-size: 0;
  width: 290px; }
  .grid-item img {
    width: 100%; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-dialog {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.modal-content {
  min-width: 400px;
  min-height: 400px;
  max-width: 1000px;
  max-height: 1000px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-content img {
    width: 100%; }

.slogan {
  text-align: center;
  font-size: 18px;
  color: #fff;
  letter-spacing: 16px;
  padding: 20px 0;
  margin-bottom: 30px;
  font-family: "Adobe Heiti Std R"; }

#grid .width100 {
  width: 100%;
  position: relative; }

.navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1080px;
  margin-left: -540px; }
  .navigation a {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    text-align: center;
    height: 60px;
    background-color: #796a56; }

.Grid-cell.left .grid-item {
  width: auto;
  padding-right: 0; }

.Grid .Grid-cell .director_content .map {
  height: 300px; }

.Grid .Grid-cell .director_content > img {
  display: block;
  margin-top: 80px;
  padding-left: 10px; }

.map {
  margin-bottom: 2em; }

.map-info {
  color: #eee;
  line-height: 165%; }
