
.Grid  .Grid-cell .director_content .map{
	height:300px;
}
.Grid  .Grid-cell .director_content >img{
	display: block;
	margin-top:80px;
	padding-left:10px;
}

.map {
	margin-bottom: 2em;
}
.map-info {
	color: #eee;
	line-height: 165%;
}

