
.Grid  .Grid-cell .director_content .map{
	height:300px;
}
.Grid  .Grid-cell .director_content >img{
	display: block;
}

.map {
	margin-bottom: 2em;
}
.map-info {
	color: #eee;
	line-height: 165%;
}


#contact {
	@media handheld, only screen and (max-width: 767px) {

		.container {
			.Grid {
				.Grid-cell {
					&.right {
						padding: 0 16%;
						.show-on-mobile {
							
							>img {
								margin-bottom: 1em;
							}
							.btn {
								margin-bottom: 1.5em;
							}
							.map-container {
								position: relative;
								a {
									position: absolute;
									width: 100%;
									height: 100%;
									z-index: 1;
								}
								.map {
									margin-bottom: 10px;
								}
							}
							.map-info {
								font-size: 8px;
							}
						}
					}
				}
			}
		}
	}
}