.grid-item { 
    color: #fff;
    padding: 0 10px 10px 0; 
    font-size: 0;
    width: 290px;
    a {
    }
}
.grid-item img{
  width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color:rgba(0,0,0,.8);;
}
.modal-dialog{
   width:100%;
   height:100%;
   display:flex;
   align-items: center;
   justify-content: center;
}
.modal-content{
   min-width:400px;
   min-height:400px;
   max-width:1000px;
   max-height:1000px;
   display:flex;
   align-items: center;
   justify-content: center;
   img {
      width: 100%;
   }
}
