.page-gallery {
  .Grid {
    width: 1090px;
    .Grid-cell.right {
      width: 590px;
      float: right;
    }
  }
  .grid-item { 
      color: #fff;
      padding: 0 10px 10px 0; 
      font-size: 0;
      width: 295px;
      a {
      }
      img{
        width: 100%;
      }
  }


  .slogan{
      text-align: center;
      font-size:18px;
      color:#fff;
      letter-spacing: 16px;
      padding:20px 0;
  }
  #grid .width100{
      width:100%;
      position: relative;
  }
  .navigation{
      display: flex;
      position: absolute;
      top:0;
      left:50%;
      width:1080px;
      margin-left:-540px;
      a{
          flex:1;
          display: flex;
          justify-content: center;
          align-items: center;
          border:1px solid #fff;
          text-align: center;
          height:60px;
          background-color:#796a56;
      }
  } 

  .Grid-cell.left {
    .grid-item {
      width: auto;
    }
  }

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color:rgba(0,0,0,.8);;
}
.modal-dialog{
   width:100%;
   height:100%;
   display:flex;
   align-items: center;
   justify-content: center;
}
.modal-content{
   min-width:400px;
   min-height:400px;
   max-width:1000px;
   max-height:1000px;
   display:flex;
   align-items: center;
   justify-content: center;
   img {
      width: 100%;
   }
}