@media handheld, only screen and (max-width: 767px) {
	body {
		background: #040000 url(../images/background.jpg) no-repeat 22% top/183% auto;
	}
	.share {
		display: none;
	}
	.slick-slider {
		button.slick-arrow {
			width: 8px;
			height: 51px;
			margin-top: -25.5px;
			background: url(../images/arrow.png) no-repeat 0 0/cover;
			&:hover, &:focus {
	            background: url(../images/arrow.png) no-repeat 0 0/cover;
	        }

		}
		.slick-slide {
			background: url(../images/none.gif) no-repeat center center/cover;
			img {
				width: auto;
				margin: 0 auto;
			}
		}
	}
	.wrapper {
		.container {
			width: 100%;
			padding-bottom: 3em;
			.navigation {
				display: flex;
	            justify-content: space-between;
	            align-items: center;
				padding: 0 25px;
				img.logo {
					display: inline-block;
				}
				ul {
					display: none;
					position: absolute;
					left: 0;
					top: 60px;
					z-index: 9;
					li {
						width: 160px;
						&:last-child {
							display: flex!important;
						}
						a {
							color: #fff;
							font-size: 20px;
							font-weight: 200;
							img {
								display: none;
							}
							span {
								display: inline;
							}
						}
					}
				}
			}
			.Grid {
				.Grid-cell {
					&.left {
						display: none;
					}
					&.right {
						width: 100%;
						padding: 0 8%;
						h2 {
							text-align: center;
							font-size: 32px;
							color: #fff;
							font-weight: 200;
							margin-bottom: 0.6em;
						}
						img {
							max-width: 100%;
						}
					}
				}
			}
		}
	}

}
