#product {
	.container {
		.Grid {
			.slick-slider {
				width: 1080px;
				.slick-slide {
					height: 775px;
					background: url(../images/none.gif) no-repeat center center/contain;
				}
			}
		}
	}
	@media handheld, only screen and (max-width: 767px) {
		.container {
			position: static;
			.Grid {
				position: absolute;
				left: 10%;
    			top: 50%;
				margin-top: -180px;
				.slick-slider {
					width: 80vw;
					button {
						width: 8px;
						height: 51px;
						margin-top: -25.5px;
						background-size: cover;

					}
					.slick-slide {
						height: 120vw;
					}
				}
			}
		}

	}
}